extends layout

block content
    h1= title

    ul
    each book in book_list
        li
            a(href=book.url) #{book.title}
            |  (#{book.author.name})
            //- each book is defined as two lines, using the pipe for the second line (highlighted above). This approach is needed because if the author name were on the previous line then it would be part of the hyperlink.
    else
        li There are no books.