extend layout

block content
    h1= title

    form(method='POST', action='')
        div.form-group
            label(for='book') Book:
            select#book.form-control(type='select', name='book')
                for book in books
                    option(value=book._id, selected=(undefined===bookinstance ? false : book._id.toString()==bookinstance.book)) #{book.title}
        div.form-group
            label(for='imprint') Imprint:
            input#imprint.form-control(type='text', name='imprint', value=(undefined===bookinstance ? '' : bookinstance.imprint), placeholder='Enter imprint here')
        div.form-group
            label(for='due_back') Date when book is available:
            input#due_back.form-control(type='date', name='due_back', value=(undefined===bookinstance ? '' : bookinstance.due_back_formatted_for_update))
        div.form-group
            label(for='status') Status:
            select#status.form-control(type='select', name='status')
                option(value='Available' selected=(undefined===bookinstance ? false : bookinstance.status==='Available')) Available
                option(value='Maintenance' selected=(undefined===bookinstance ? false : bookinstance.status==='Maintenance')) Maintenance
                option(value='Loaned' selected=(undefined===bookinstance ? false : bookinstance.status==='Loaned')) Loaned
                option(value='Reserved' selected=(undefined===bookinstance ? false : bookinstance.status==='Reserved')) Reserved
        if update_flag
            button.btn.btn-primary(type='submit') Update Book Instance
        else
            button.btn.btn-primary(type='submit') Create Book Instance

    if errors
        ul
            for error in errors
                li!= error.msg
